MobLink.WebserviceSap/Arquivos/prd/si_ordemvenda_requestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="si_ordemvenda_request" targetNamespace="http://www.l2r.com.br/pi/ordemvenda" xmlns:p1="http://www.l2r.com.br/pi/ordemvenda" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation/>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_si_ordemvenda_request"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.l2r.com.br/pi/ordemvenda" xmlns="http://www.l2r.com.br/pi/ordemvenda" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="mt_ordemvenda_request" type="dt_ordemvenda_request"/>
			<xsd:complexType name="dt_ordemvenda_request">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Ordem de Vendas</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">1b2223bfc0da11e7c9bd0000010fa856</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="IDTRANSACAO" type="xsd:integer">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">7ef6f2ce8e0a11e5cc4e00ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AUART">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3fec500b79a811e5a6e000ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="WERKS">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3fec81b379a811e5abf400ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VBELN" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3fec81b479a811e5ca2e00ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FKDAT" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">692331cf1c5d11e6ade616b7e2d5b40d</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="KUNNR">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3fec81b679a811e5c68d00ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BSTNK">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">e8e60a837cab11e5cacc00ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ORDER_TXT" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">53b8766a92ce11e5849e00ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ZZPROC" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">5a9cfd9b273511e6cca4001c429f3afa</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZZPERI" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">5a9cfd9c273511e684fc001c429f3afa</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZZLEIL" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">5a9cfd9d273511e68310001c429f3afa</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZTERM" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">99c6d814c0d911e7afd7847bebfde8f3</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ITEMS" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">8803f1e2823e11e5976900ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="MATNR">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">3fec81b879a811e5cd2d00ff8ca326f2</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="0"/>
											<xsd:maxLength value="18"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="MENGE">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">3fec81b979a811e5b80900ff8ca326f2</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:decimal">
											<xsd:totalDigits value="15"/>
											<xsd:fractionDigits value="3"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="KBETR">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">3fec81ba79a811e5809200ff8ca326f2</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:decimal">
											<xsd:totalDigits value="11"/>
											<xsd:fractionDigits value="3"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="KBRTR_DESC" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">cdc9f217cbfe11e5824900ff8ca326f2</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:decimal">
											<xsd:totalDigits value="11"/>
											<xsd:fractionDigits value="3"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="AUFNR" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">3fec81b579a811e5cb7800ff8ca326f2</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="0"/>
											<xsd:maxLength value="12"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="DOC_PAGAM" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">37f670e692d211e596bc00ff8ca326f2</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="MEIO_PAG" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">53b8766b92ce11e5a3b500ff8ca326f2</xsd:appinfo>
										<xsd:documentation>I = Deposito ; D = Boleto</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="0"/>
											<xsd:maxLength value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="DOCUMENTO" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">37f670e592d211e5ae8d00ff8ca326f2</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="0"/>
											<xsd:maxLength value="100"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="mt_ordemvenda_request">
		<wsdl:documentation/>
		<wsdl:part name="mt_ordemvenda_request" element="p1:mt_ordemvenda_request"/>
	</wsdl:message>
	<wsdl:portType name="si_ordemvenda_request">
		<wsdl:documentation/>
		<wsdl:operation name="si_ordemvenda_request">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_si_ordemvenda_request"/>
			</wsp:Policy>
			<wsdl:input message="p1:mt_ordemvenda_request"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="si_ordemvenda_requestBinding" type="p1:si_ordemvenda_request">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="si_ordemvenda_request">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="si_ordemvenda_requestService">
		<wsdl:port name="HTTP_Port" binding="p1:si_ordemvenda_requestBinding">
			<soap:address location="http://srvsappiprd:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS&amp;receiverParty=&amp;receiverService=&amp;interface=si_ordemvenda_request&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Fordemvenda" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>