MobLink.WebserviceSap/Arquivos/des/webserviceSAP_Homologacao.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://patiodemo.dsin.com.br/webService/webserviceSAP.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:complexType name="atualizaTransacaoRequest"><xsd:sequence><xsd:element name="IDTRANSACAO" type="xsd:int"/><xsd:element name="RETDOCID" type="xsd:string"/><xsd:element name="RETMENSAGENS" type="xsd:string"/><xsd:element name="RETNOTA" type="xsd:string"/><xsd:element name="RETDTEMISSAO" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:schema></wsdl:types><wsdl:message name="atualizaTransacaoRequest"><wsdl:part name="atualizaTransacaoRequest" type="atualizaTransacaoRequest"/></wsdl:message><wsdl:message name="atualizaTransacaoResponse"><wsdl:part name="return" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/></wsdl:message></wsdl:definitions>