MobLink.WebserviceSap/MobLink.WSSap.Repositorio/Web References/si_ordem_interna_requestService/si_ordem_interna_request.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.l2r.com.br/pi/titulo_ordem_interna" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="si_ordem_interna_request" targetNamespace="http://www.l2r.com.br/pi/titulo_ordem_interna" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_fb70" />
  <wsp:Policy wsu:Id="OP_fb60" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.l2r.com.br/pi/titulo_ordem_interna" targetNamespace="http://www.l2r.com.br/pi/titulo_ordem_interna" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="mt_fb70" type="p1:dt_titulo_ord_int_fb70" />
      <xsd:element name="mt_fb60" type="p1:dt_titulo_ord_int_fb60" />
      <xsd:complexType name="dt_titulo_ord_int_fb60">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">4159cc6fe17411e585900000010fa856</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="IDTRANSACAO" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d42fc1a1dee911e5966700ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BUKRS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945a886de11e588df00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BRNCH">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">409d7248e17411e5c7a900ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LIFNR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945a986de11e5bdd400ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BLDAT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945aa86de11e5c0b100ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WRBTR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945ab86de11e5a49200ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BKTXT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea1c9f6711e5afc800ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="25" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="XREF1_HD">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea1d9f6711e5974a00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZTERM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea1e9f6711e58f6c00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZFBDT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea1f9f6711e5b60b00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="XBLNR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea209f6711e5a8ec00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="16" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="ITEMS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea249f6711e5c38a00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="HKONT">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">57ddea219f6711e5c28e00ff8ca326f2</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="1" />
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ITM_WRBTR">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">57ddea229f6711e59acf00ff8ca326f2</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                      <xsd:totalDigits value="15" />
                      <xsd:fractionDigits value="2" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="KOSTL">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">57ddea239f6711e5c69100ff8ca326f2</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:minLength value="1" />
                      <xsd:maxLength value="10" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="WRBTR_PAG">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea259f6711e585f300ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="HBKID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea269f6711e5b21200ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZLSCH">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea279f6711e5a82f00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BLDAT_PAG">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">57ddea289f6711e580b200ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="dt_titulo_ord_int_fb70">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">4f380f2ae17411e580520000010fa856</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="IDTRANSACAO" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0b07ae80dee911e58c1e00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BUKRS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945a886de11e588df00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BRNCH">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">4e9bc6dde17411e5b3c400ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="KUNNR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945a986de11e5bdd400ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BLDAT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945aa86de11e5c0b100ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WRBTR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">42f945ab86de11e5a49200ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BKTXT">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077709f5b11e5a3ef00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="25" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="XREF1_HD">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077719f5b11e5bf1e00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZTERM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077729f5b11e5c55e00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WRBTR_LOTE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077739f5b11e5c3a900ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WRBTR_TAXA">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077749f5b11e5bb0700ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WRBTR_COM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077759f5b11e5be5a00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WRBTR_TARIF">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077769f5b11e5cb1a00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WRBTR_DESC">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077779f5b11e597dc00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WRBTR_PAG_MAIOR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077789f5b11e5cac600ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WRBTR_PAG">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d077799f5b11e5b03d00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="HBKID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d0a2b69f5b11e5991800ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ZLSCH">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d0a2b79f5b11e59a6400ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BLDAT_PAG">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d1d0a2b89f5b11e5aefd00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="XREF2_HD">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">5de82e119f6711e5cb8d00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1" />
                <xsd:maxLength value="25" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="mt_fb70">
    <wsdl:documentation />
    <wsdl:part name="mt_fb70" element="p1:mt_fb70" />
  </wsdl:message>
  <wsdl:message name="mt_fb60">
    <wsdl:documentation />
    <wsdl:part name="mt_fb60" element="p1:mt_fb60" />
  </wsdl:message>
  <wsdl:portType name="si_ordem_interna_request">
    <wsdl:documentation />
    <wsdl:operation name="fb70">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_fb70" />
      </wsp:Policy>
      <wsdl:input message="p1:mt_fb70" />
    </wsdl:operation>
    <wsdl:operation name="fb60">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_fb60" />
      </wsp:Policy>
      <wsdl:input message="p1:mt_fb60" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="si_ordem_interna_requestBinding" type="p1:si_ordem_interna_request">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="fb70">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="fb60">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="si_ordem_interna_requestService">
    <wsdl:port name="HTTP_Port" binding="p1:si_ordem_interna_requestBinding">
      <address location="http://srvsappidev:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS_2_QAD&amp;receiverParty=&amp;receiverService=&amp;interface=si_ordem_interna_request&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Ftitulo_ordem_interna" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:si_ordem_interna_requestBinding">
      <address location="https://srvsappidev:50101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS_2_QAD&amp;receiverParty=&amp;receiverService=&amp;interface=si_ordem_interna_request&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Ftitulo_ordem_interna" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>