MobLink.WebserviceSap/MobLink.WSSap.Repositorio/Web References/si_modificacao_parceiroService/si_modificacao_parceiro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://www.l2r.com.br/pi/modificacao_parceiro" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="si_modificacao_parceiro" targetNamespace="http://www.l2r.com.br/pi/modificacao_parceiro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_si_modificacao_parceiro" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.l2r.com.br/pi/modificacao_parceiro" targetNamespace="http://www.l2r.com.br/pi/modificacao_parceiro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="mt_modicacao_parceiro" type="p1:dt_modificacao_parceiro" />
      <xsd:complexType name="dt_modificacao_parceiro">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">9274496f92e711e5b62d0000010fa856</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="IDTRANSACAO" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b77b192d611e5c1e400ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TIPO_PARCEIRO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b77b292d611e5b71d00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COD_PARCEIRO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b77b392d611e59e1c00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COD_ORG">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STRAS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b77b492d611e5820d00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="HOUSE_NUM1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b77b592d611e5cdbe00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUILDING">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b77b692d611e5831e00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FLOOR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962292d611e5c2a800ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ORT02">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962392d611e5a27900ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PSTLZ">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962492d611e5b5fa00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MCOD3">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962592d611e5817200ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REGIO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962692d611e5c78d00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TELF1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962792d611e58b8c00ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="16" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SMTP_ADDR">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962892d611e5bca500ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="241" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZTERM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1b962992d611e5977900ff8ca326f2</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0" />
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="mt_modicacao_parceiro">
    <wsdl:documentation />
    <wsdl:part name="mt_modicacao_parceiro" element="p1:mt_modicacao_parceiro" />
  </wsdl:message>
  <wsdl:portType name="si_modificacao_parceiro">
    <wsdl:documentation />
    <wsdl:operation name="si_modificacao_parceiro">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_si_modificacao_parceiro" />
      </wsp:Policy>
      <wsdl:input message="p1:mt_modicacao_parceiro" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="si_modificacao_parceiroBinding" type="p1:si_modificacao_parceiro">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="si_modificacao_parceiro">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="si_modificacao_parceiroService">
    <wsdl:port name="HTTP_Port" binding="p1:si_modificacao_parceiroBinding">
      <address location="http://srvsappidev:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS_2_QAD&amp;receiverParty=&amp;receiverService=&amp;interface=si_modificacao_parceiro&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Fmodificacao_parceiro" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:si_modificacao_parceiroBinding">
      <address location="https://srvsappidev:50101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS_2_QAD&amp;receiverParty=&amp;receiverService=&amp;interface=si_modificacao_parceiro&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Fmodificacao_parceiro" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>